<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Barberoo!</title>

        {{!-- jquery link --}}
		
        <script src="https://code.jquery.com/jquery.js"></script>
        
        {{!-- link to bootstrap --}}
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
        
        {{!-- Link to the stylesheet --}}
        
        <link rel="stylesheet" href="../../public/assets/css/style.css">

{{!-- Link to the js --}}

{{!-- <script src="../../public/assets/js/script.js"></script> --}}
	</head>
	<body>
        {{!-- Basic nav here, just a start --}}
        <nav class="nav nav-tabs nav-stacked">
            <a href="/"><h1>Barberoo!</h1></a>
            <a class="nav-link" href="/allbarbers">Barbers</a>
            <a class="nav-link" href="/allreviews">Reviews</a>
            <a class="nav-link" href="/about">About Us</a>
        </nav>
        {{!--This a test}}

		{{{ body }}}




	</body>
</html>
