<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Barberoo</title>
		    <!--jquery-->
	<script src="https://code.jquery.com/jquery.js"></script>
     <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Link to the stylesheet -->        
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <!--Favicon for web tab-->
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4nmOz477bsbMibemakwOw9NiwIGGnUaWoPmv_ecYRmQOcav-eeA" type="image/gif" sizes="16x16">
</head>
<body>
	<!--Navbar from bootstrap-->
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/" id="logo"><img src="/assets/image/barberoo2.jpg" alt="" width="300px" height="100px"></a>
          </div>
          <button class="navbar-toggler collapsed ml-auto" data-toggle="collapse" data-target="#page-nav-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>
        <!-- /.container -->
        {{#if session}}
        <div class="ml-auto mr-5 mt-5">
            <a href="api/signout" style="color: black"><h3>Signout</h3></a>
        </div>
        {{/if}}
      </nav>
      <!-- End of navbar -->


		{{{ body }}}
    <div id="snackbar"></div>
	</body>
    <script src="/assets/js/script.js"></script>


</html>
