<h1>About Us</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quos corrupti maiores veritatis aspernatur
    molestiae repellat architecto. Saepe, natus eaque? Incidunt, facilis quia voluptatibus dolores rerum atque culpa
    autem aspernatur ipsam suscipit quidem illo vero reprehenderit tempora quaerat cumque repudiandae eum neque nihil
    ducimus! Necessitatibus laboriosam molestiae eius suscipit eveniet.</p>

<script src="/public/assets/js/about.js"></script>