
<!--Set time and confirm button-->
<div class="container">
    <form>
        <input type="text" placeholder="put time here" name="apptTime" id="apptTime">
    </form>
</div>

<a href="/confirm">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="setTimeConfirm">Set Time and Confirm</button>
</a>
</div>
<!--End of time and confirm button-->


<!--Start of Side Nav-->
<div id="mySidenav" class="sidenav">
    <a href="/" id="home">Back to Home</a>
    <a href="/order" id="servicesPage">Go To Services</a>
    <a href="/barber" id="social">Go To Barbers</a>
</div>
<!--End of Side Nav-->

<script src="/assets/js/appointment.js">
</script>