{{!-- Right now, just making this a loop that goes back to the beginning for dev purposes, later it could be a link to reviews which saves a session id or something, or it could take you to the timer screen that shows you when your barber is going to be on the way, kind of like the "your pizza is being made screen at dominos" --}}
<h1>Appointment Page</h1>

<!--Set time and confirm button-->
<div class="container">

{{!-- Dropdown for the Day --}}

<div class="dropdown open">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
                Day
            </button>
    <div class="dropdown-menu" aria-labelledby="triggerId">
        <button class="dropdown-item" href="#">Today</button>
        <button class="dropdown-item" href="#">Today + 1</button>
        <button class="dropdown-item" href="#">Today + 2</button>
        <button class="dropdown-item" href="#">Today + 3</button>
        <button class="dropdown-item" href="#">Today + 4</button>
    </div>
</div>






{{!-- dropdown for the time. Maybe we can find a little better way to implement this.--}}

<div class="dropdown open">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
                Hour
            </button>
    <div class="dropdown-menu" aria-labelledby="triggerId">
        <button class="dropdown-item" href="#">8AM</button>
        <button class="dropdown-item" href="#">9AM</button>
        <button class="dropdown-item" href="#">10AM</button>
        <button class="dropdown-item" href="#">11AM</button>
        <button class="dropdown-item" href="#">Noon</button>
        <button class="dropdown-item" href="#">1pm</button>
        <button class="dropdown-item" href="#">2pm</button>
        <button class="dropdown-item" href="#">3pm</button>
        <button class="dropdown-item" href="#">4pm</button>
        <button class="dropdown-item" href="#">5pm</button>
        <button class="dropdown-item" href="#">6pm</button>
        <button class="dropdown-item" href="#">7pm</button>
    </div>
</div>

{{!-- dropdown for the minutes. Poss can find better way to have this, like a pre-made version --}}

<div class="dropdown open">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
                Minute
            </button>
    <div class="dropdown-menu" aria-labelledby="triggerId">
        <button class="dropdown-item" href="#">05</button>
        <button class="dropdown-item" href="#">10</button>
        <button class="dropdown-item" href="#">15</button>
        <button class="dropdown-item" href="#">20</button>
        <button class="dropdown-item" href="#">25</button>
        <button class="dropdown-item" href="#">30</button>
        <button class="dropdown-item" href="#">35</button>
        <button class="dropdown-item" href="#">40</button>
        <button class="dropdown-item" href="#">45</button>
        <button class="dropdown-item" href="#">50</button>
        <button class="dropdown-item" href="#">55</button>
    </div>
</div>

<a href="/confirm">
<button type="button" class="btn btn-primary btn-lg btn-block" id="setTimeConfirm">Set Time and Confirm</button>
</a>
</div>
    <!--End of time and confirm button-->


<!--Start of Side Nav-->
<div id="mySidenav" class="sidenav">
    <a href="/" id="home">Back to Home</a>
    <a href="/order" id="servicesPage">Go To Services</a>
    <a href="/barber" id="social">Go To Barbers</a>
</div>
    <!--End of Side Nav-->

