<h1>THIS IS THE BARBER SCREEN</h1>


 {{#each barbers}}
    <div class="row">
        <div class="card">
            <h2>
                {{first_name}}
            </h2>
            <h2>
                {{last_name}}
            </h2>
            <h2>
                {{location}}
            </h2>
        </div>
    </div>
  {{/each}}



<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">


<a href="/appointment">
<div>
<h2 style="color: white;">CONFIRM BARBER AND SERVICE!</h2>
</div>
</a>


</button>