{{!-- Inspired by the "your pizza is being made screen at dominos" --}}

<!--Space to hold confirmation info-->
<div class="container" id="confirmDiv">
    <!--Checkmark Image-->
    <div class="container">
        <img src="https://www.freeiconspng.com/uploads/checkmark-png-28.png" id="checkImage" height="300px" width="300px">
    </div>
    <br>
    <!--End of Checkmark Image-->
    {{#each appointment}}
    <h2>Your Appointment Has Been Made!</h2>
    <h1>Your appointment is with barber with id {{barber_id}}</h1>
    <h1></h1>
    <h1>Session number is: {{session}}</h1>
    <h1>The time for your appointment is : {{time}}</h1>
    <h1>Your appointment will take about {{duration}} minutes</h1>
    <br>
    {{/each}}
    <h3>Your Barber Will Arrive In About:</h3>
    <br>
    <!--Countdown timer will be added-->
    <h3 id="countDown"></h3>
    <br>
    <h4>Thank You For Booking With Barberoo</h4>
    <!--End of Countdown timer with confirmation-->
    <!--Back to home page button-->
    <div class="container">
        {{!-- <a href="/"> --}}
            <button type="button" class="btn btn-primary btn-lg btn-block" id="backHome">Back to the Home Page</button>
            {{!-- </a> --}}
    </div>
    <!--End of home page button Button-->
</div>
<!--End of space to hold confirmation info-->


<!--Countdown timer JS based of W3 Schools example-->
<script src="/assets/js/confirm.js"></script>
<!--End of Countdown timer js-->