<h1>THIS IS THE CONFIRMATION SCREEN</h1>
{{!-- Right now, just making this a loop that goes back to the beginning for dev purposes, later it could be a link to reviews which saves a session id or something, or it could take you to the timer screen that shows you when your barber is going to be on the way, kind of like the "your pizza is being made screen at dominos" --}}
<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">

<a href="/">
<div>
<h2 style="color: white;">BACK TO THE BEGINNING</h2>
</div>
</a>
</button>

