<h1>THIS IS THE ORDER SCREEN</h1>

<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">



<a href="/barber">
<div>
<h2 style="color: white;">CONFIRM SERVICE AND ORDER A BARBER</h2>
</div>
</a>


</button>