<!--Choosing Client or Barber-->
<div class="col">
  <div class="row">
    <div class="container">
      <div id="Client" class="tabcontent">
        <h1><strong>WELCOME TO BARBEROO</strong></h1>
        <h3></h3>
        <a href="customer/login">

          <button class="btn btn-outline-light font-weight-bold" id="confirm">Looking for a Haircut?</button>
        </a>
      </div>

      <div id="Barber" class="tabcontent">
        <h1><strong>WELCOME TO BARBEROO</strong></h1>
        <h3></h3>
        <a href="barber/login">
          <button class="btn btn-outline-light font-weight-bold" id="confirm">Looking for work?</button>
        </a>
      </div>

      <button class="tablink font-weight-bold" onclick="openCity('Client', this, '#af1d1d')" id="defaultOpen">Client</button>
      <button class="tablink font-weight-bold" onclick="openCity('Barber', this, '#163d75')">Barber</button>
    </div>
  </div>
</div>
<!--End of Choosing-->
<!-- Button trigger modal -->


<!--Script from W3 schools-->
<script src="/assets/js/start.js"></script>