	/* Styling for main.handlebars*/
body {
    background-color: #333333
}
  
nav {
    background-color: #cccccc
}
    /* End Style for main.handlebars*/
 
/* Styling for start page */
.col {
    padding: 40px
}

#confirm {
	background-color: #ffffff;
	color:black;
}
  /* Style the tab buttons */
.tablink {
    background-color: black;
    color: White;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}
  
  /* Change background color of buttons on hover */
.tablink:hover {
    background-color: black;
}
  
  /* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}
  
  /* Style each tab content individually */ 
#Client {background-color:red;}
#Barber {background-color:blue;}

  /* End Styling for first page */

/* Styling for the sidenav from W3 Schools */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}
  
#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}
  
#home {
    top: 60px;
    background-color: blue;
}
  
#barberPage {
    top: 140px;
    background-color: lightgray;
}

#servicesPage {
    top: 140px;
    background-color: lightgray;
}  
  
#social {
    top: 220px;
    background-color: red;
}
    /* End Styling for sidenav */

/* Styling for services page */
.table {
    background-color: #ffffff;
}
    /* End Styling for services page */

/* Styling for barber page */
.list-group-item {
    background-color: #af1d1d
}


.filterDiv {
  float: left;
  background-color: #ffffff;
  color: #333333;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #163d75;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

    /* End styling for barber page */
